*{
    padding: 0px;
    margin: 0px auto;
    text-decoration: none;
    background-color:#f1e7e7;

}

.header{
    display: flex;
    /* justify-content: space-around;  */
    align-items: center;
    margin-top: 10px;
    /* max-width: calc(100%-400px); */

}

.header .navigations ul{
    display: flex;
    gap:20px;
}
.header .navigations ul li{
    list-style-type:none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.header .buttons {
    display: flex;
    gap: 10px;
     
}
.header .Mybuttons button.MysignIn{
/* background-color: #eed2d200;  */
   /* color:#000000; */
    border-radius: 20px;
    padding: 10px;
    /* font-size: 10px; */
    font-family: Arial, Helvetica, sans-serif;
}
.header .Mybuttons button.Mydownloads{
    background-color: rgb(20, 20, 20);
    color:#ffff;
    border-radius: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.after-header{
    margin-top:20px;
    margin-left: 138px;

}

.after-header p{
    font-size: 22px;
}